doctype
html( lang="es")
head
  title DawChart
  meta( charset='utf-8' )
  meta( http-equiv='X-UA-Compatible', content='IE=edge' )
  meta( name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )

  //JavaScript
  script( src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script( src = "js/dashboard.js")
  script( src = "js/materialize.js")
  script( src = "js/init.js")
  block scripts


  //css
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  link(href="style/materialize.css", type="text/css", rel="stylesheet", media="screen,projection")
  link(href="style/style.css", type="text/css", rel="stylesheet", media="screen,projection")
  link(rel="stylesheet", type="text/css", href="style/joint.min.css")
  block styles

  body
    //Dropdown Profile
    ul#profile.dropdown-content
      li
        a(href="#") Dashboard
      li
        a(href="#") Profile
      li.divider
      li
        a(href="#") Logout

    //Dropdown Edit
    ul#edit.dropdown-content
      li
        a(href="#") New..
      li
        a(href="#") Load..
      li
        a(href="#") Save
      li
        a(href="#") Download

    //Nav Menu

    div.navbar-fixed
      nav.lime.lighten-2.z-depth-3
        div.nav-wrapper
          a#logo-container.brand-logo.roboto-bold(href="#") DawChart
          ul.right.hide-on-med-and-down

            //Modal trigger Login - Sign Up
            li
              a.dropdown-button(href="#", data-activates="edit")
                i.material-icons view_module
            li
              a.dropdown-button(href="#", data-activates="help")
                i.material-icons live_help

            li
              a.dropdown-button(href="#", data-activates="profile")
                i.material-icons perm_identity

          ul#nav-mobile.side-nav
            li
              a( href="#") Log in

            li
              a( href="#") Sign Up

          a.button-collapse (href="#", data-activates="nav-mobile")
            i.material-icons menu


      block content
